:root {
    --primary-font: 'Didact Gothic', sans-serif;
    --secondary-font: 'Cantata One', serif;
    --background-color: #000;
    --text-color: #fff;
    --secondary-bg-color: #333;
    --accent-color: #e60000;
    --card-bg-color: #111;
    --shadow-color: rgba(0, 0, 0, 0.5);
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.left-nav, .right-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-nav li, .right-nav li {
    margin: 0px 10px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

.right-nav a.active {
    color: #ffffff;
}

.left-nav a.active {
    color: #ffffff;
}

.right-nav a:hover {
    color: #a1a1a1;
}

.left-nav a:hover {
    color: #a1a1a1;
}

.logo img{
    width: 150px;
}

.nav-separator {
    height: 2px;
    background-color: var(--accent-color);
    margin: 0;
}

/* Hero Section Styling */
.hero {
    background-color: var(--background-color);
    padding: 100px 0;
    text-align: center;
}


.hero h1 {
    font-size: 40px;
    letter-spacing: 5px;
    font-family: var(--secondary-font);
    font-weight: bold;
    margin-bottom: 20px;
}

/* car */
.featured-cars {
    padding: px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    justify-content:center;
}

.car-item {
    background-color: #222;
    padding: 50px;
    gap: 100px;
    border: 3px solid rgb(49, 49, 49);
    flex: 1 1 calc(33% - 20px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(50% - 10px); 
    position: relative;
    margin-bottom: 50px;
}


.car-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 300px
}

.car-grid-container{
    display:flex;
    justify-content: center;
}

.car-row {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;

}

.car-item {
    flex: 1;
    max-width: calc(50% - 10px);
    /* Rest of the styles for .car-item */
}

.sold-label {
     background-color: #f00; 
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px; 
    position: absolute;
    bottom: -10px;
    left: 10px
}


.car-item h2 {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}


.partners {
    background-color: #000000;
    padding: 200px 0;
    text-align: center;
    font-size: 40px;
    font-family: var(--secondary-font);
}

.partners h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.partner-logos {
    display:flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 160px
}

.partner-logos img {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
}


.separators {
height: 2px;
width: 100%;
background-color: #ff0000; 
margin: 0 0; 
}



/* footer */
footer {
    background-image: linear-gradient(to bottom right, #c6c2c2, #000000);
    color: var(--text-color);
    text-align: center;
    padding: 60px;
}

footer img{
    width: 20px;
}

footer h2{
    font-family: var(--secondary-font);
    letter-spacing: 3px;
    font-size: 2em
    
}

footer p {
    margin: 15px 0;
}

.footer-separator {
    height: 2px;
    width: 100%;
    background-color: #fff; /* White separator */
    margin: 20px 0; /* Adjust margin as needed */
}


.social-media a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
}

@media (max-width: 768px) {
    nav {
        padding: 20px 30px;
    }

    .logo img {
        width: 100px;
    }

    .left-nav, .right-nav {
        font-size: 0.9em;
    }

    .nav-separator {
        background-color: #e60000;
    }

    .hero {
        padding: 80px 0;
    }


    .featured-cars {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 50px 20px;
    }

    .car-item {
        width: 100%;
        padding: 30px;
        margin-bottom: 30px;
    }

    .car-item img {
        max-width: 100%;
    }

    .car-grid-container {
        justify-content: center;
    }

    .partner-logos {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .separators {
        height: 2px;
        width: 100%;
        background-color: #ff0000;
        margin: 0;
    }

    .container h1{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: -80px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }


    .car-row {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; 
        margin-bottom: -40px;
    }

    .car-item {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px); 
        text-align: center; 
        position: relative; 
    }

    .car-item img {
        max-width: 100%;
    }

    .partner-logos{
        display: flex;
    }

    .container h2{
        font-size: 25px;
    }


    footer h2, footer p {
        font-size: 20px;
    }


    .footer-separator {
        margin: 15px 0;
    }

    .social-media a, .footer-links a {
        margin: 0 5px
       }

    .social-media{
        font-size: 20px;
    }
}
